/* ----- CUSTOM PROPERTIES ----- */
:root {
    /* COLORS */
    --color-primary: #181818;
    --color-secondary: #f0f0f0;

    /* TYPOGRAPHY */
    --ff-primary: Helvetica, Arial, sans-serif;
    --ff-secondary: Verdana;
}

/* ----- DARK MODE ----- */
@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #f0f0f0;
        --color-secondary: #181818;
    }

}

/* ----- MARGINS & PADDINGS ----- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* ----- IMG ----- */
img, picture, video, iframe, figure {
    max-width: 100%;
    width: auto;
    display: block;
}

/* ----- LINKS ----- */
a {
    display: block;
}

p a {
    display: inline;
}

/* ----- LISTS ----- */
li {
    list-style-type: none;
}

/* ----- SCROLL BEHAVIOR ----- */
html {
    scroll-behavior: smooth;
}

/* ----- TEXT STYLES ----- */
body {
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--ff-primary);
    color: var(--color-primary);
    background-color: var(--color-secondary);
    line-height: 1.4em;

}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

/* ----- FORMS ----- */
form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    display: block;
    color: inherit;
}

/* ----- TABLES ----- */
table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----- SVG ----- */
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

/* */