/*--------------------------------------------------------------*/
/*-------------------------Comprobar a 1701---------------------*/
/*--------------------------------------------------------------*/
@media screen and (min-width: 1701px){

	.search-bar-responsive {
        display: none;
    }

	.menu-responsive {
		display: none;
	}

	.header-right-responsive {
		display: none;
	}

	.platforms-responsive {
        display: none;
    }

	.subscribe-responsive {
		display: none;
	}

	.show-all {
		display: none;
	}
	
	.bestseller__container,
	.newreleases__container {
		display: grid; 
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
		row-gap: 50px;
		padding: 50px 0px;
	}

	.res-slider {
		display: none;
	}

	.reviews {
		display: block;
	}

	.responsive-reviews {
		display: none;
	}

	.res-payment-methods {
		display: none;
	}


}

/*--------------------------------------------------------------*/
/*---------------Resoluciones desde 1321 hasta 1700-------------*/
/*--------------------------------------------------------------*/
@media screen and (max-width: 1700px)
{
	.search-bar-responsive {
        display: none;
    }

	.menu-responsive {
		display: none;
	}

	.header-right-responsive {
		display: none;
	}

	.platforms-responsive {
        display: none;
    }
	
	.bestseller__container,
	.newreleases__container {
		display: grid; 
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
		row-gap: 50px;
		padding: 50px 0px;
	}

	.show-all {
		display: none;
	}

	.show-more {
		display: flex;
	}

	.info-panel {
		display: block;
	}

	.subscribe {
		display: block;
	}

	.subscribe-responsive {
		display:none;
	}

	.res-slider {
		display: none;
	}
	.responsive-reviews {
		display: none;
	}

	.res-payment-methods {
		display: none;
	}

}

/*--------------------------------------------------------------*/
/*---------------Resoluciones desde 1001 hasta 1320-------------*/
/*--------------------------------------------------------------*/
@media screen and (max-width: 1320px)
{	
	.logo img {
		max-width: 200px;
	}
	

}

/*--------------------------------------------------------------*/
/*---------------Resoluciones desde 700 hasta 1000--------------*/
/*--------------------------------------------------------------*/
@media screen and (max-width: 1000px)
{
	.menu {
		display: none;
	}

	.search-bar-responsive {
		display: block;
		max-width: 550px;
		margin: auto;
		
	}

	.menu-responsive {
		display: block;
		
	}

	.header-right {
		display:none;
	}

	.header-right-responsive {
		display:block;
	}

	.main-slider {
		display: none;
	}

	.platforms-responsive {
        display: block;
		font-size: 14px;
    }

	.platforms-responsive__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

	.headline { 
		font-size: 16px !important;
	}

	.bestseller__container,
	.newreleases__container {
		display: grid;
        grid-auto-flow: column;
        scroll-behavior: auto;
        gap: 30px;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
	}

	.slider-nav {
		display: none;
	}

	.bestseller,
	.new-releases,
	.reviews {
		padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
	}

	.bestseller .item-name,
	.new-releases .item-name {
		font-size: 14px;
	}
	.bestseller .item-price,
	.new-releases .item-price {
		font-size: 16px;
	}
	.bestseller .item-discount,
	.new-releases .item-discount {
		font-size: 12px;
	}

	.item {
		min-width: 300px;
	}

	.show-all {
		display: block;
	}

	.show-more {
		display: none;
	}

	.info-panel {
		display: none;
	}

	.subscribe {
		display: none;
	}

	.subscribe-responsive h6 {
		font-size: 14px;
	}

	.subscribe-responsive {
		display: block;
	}

	.reviews-headline {
		display: flex;
	}

	.rev-slide-info h3,
	.rev-slide-info .user-name,
	.rev-slide-info .read-review {
		display: none;
	}

	.res-slider {
		display: block;
	}

	.reviews {
		display: none;
	}

	.responsive-reviews {
		display: block;
	}

	.res-payment-methods {
		display: none;
	}

	.footer-trust,
	.footer-logo {
		display: none;
	} 

	.media-center {
		margin: auto;
	}

	.media-center .icon-appstore,
	.media-center .icon-googleplay {
		width: 150px;
	}

	.media-center .icon-twitter,
	.media-center .icon-instagram, 
	.media-center .icon-youtube, 
	.media-center .icon-discord {
		width: 30px;
	}


	
	







	

	
}

/*--------------------------------------------------------------*/
/*---------------Resoluciones desde 421 hasta 700 --------------*/
/*--------------------------------------------------------------*/

@media screen and (max-width: 700px)
{
	.platforms-responsive__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.payment-methods {
		display: none;
	}

	.res-payment-methods {
		display: flex;
	}

}

/*--------------------------------------------------------------*/
/*---------------Resoluciones desde 320 hasta 420---------------*/
/*--------------------------------------------------------------*/