/*--------------------------------------------------------------*/
/*-------------------------Comprobar a 1701---------------------*/
/*--------------------------------------------------------------*/
@media screen and (min-width: 1701px){
	/* HEADER */

	/* FOOTER */
	
	/*HOME PAGE*/

	.search-bar-responsive,
	.menu-responsive,
	.header-right-responsive,
	.platforms-responsive,
	.subscribe-responsive,
	.show-all,
	.res-slider,
	.responsive-reviews,
	.res-payment-methods,
	.responsive-links {
        display: none;
    }

	.bestseller__container,
	.newreleases__container,
	.search-page__container {
		display: grid; 
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
		row-gap: 50px;
	}

	/* SEARCH PAGE */

	.search-page__container {
		padding: 50px 0px;
	}
	
	.page-change span{
		padding: 10px 30px;
	}

	/* CART PAGE */

	.main-cart .item-cart__quantity-res {
		display: none;
	}

	/* PAYMENT PAGE */

	.main-payment .coupons-responsive,
	.main-payment .cart-summary__bottom {
		display: none;
	}

	.main-payment {
		padding: 0px 20px;
	}

	/* PRODUCT PAGE */ 

	.product-panel-responsive,
	.pp-responsive-bottom {
		display: none;
	}

}




/*--------------------------------------------------------------*/
/*--------------- Extra-large devices - Resoluciones desde 1321 hasta 1700-------------*/
/*--------------------------------------------------------------*/
@media screen and (max-width: 1700px)
{
	/*HOME PAGE*/

	.search-bar-responsive,
	.menu-responsive,
	.header-right-responsive,
	.platforms-responsive,
	.show-all,
	.subscribe-responsive,
	.res-slider,
	.responsive-reviews,
	.res-payment-methods,
	.responsive-links {
        display: none;
    }

	.info-panel,
	.subscribe,
	.links {
		display: block;
	}

	.show-more {
		display: flex;
	}

	.bestseller__container,
	.newreleases__container,
	.search-page__container {
		display: grid; 
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
		row-gap: 50px;
	}


	/* SEARCH PAGE */

	.search-page__container {
		padding: 50px 0px;
	}

	.page-change span{
		padding: 10px 30px;
	}

	/* ABOUT US PAGE */

	.about-us .value {
		max-width: 390px;
	}

	/* CART PAGE */

	.main-cart .item-cart__quantity-res {
		display: none;
	}

	/* PAYMENT PAGE */


	.main-payment .coupons-responsive,
	.main-payment .cart-summary__bottom {
		display: none;
	}

	.main-payment {
		padding: 0px 20px;
	}

	/* PRODUCT PAGE */ 

	.product-panel-responsive,
	.pp-responsive-bottom {
		display: none;
	}

}

/*--------------------------------------------------------------*/
/*--------------- Desktop - Resoluciones desde 1001 hasta 1320-------------*/
/*--------------------------------------------------------------*/
@media screen and (max-width: 1320px)
{	

	/*HOME PAGE*/

	.responsive-links {
		display: none;
	}

	.logo img {
		max-width: 200px;
	}

	.main-home .item-name {
		font-size: 16px;
	}
	.main-home .item-price{
		font-size: 20px;
	}
	
	/* SEARCH PAGE */

	.main__search-page {
		padding: 0px 20px;
	}

	.page-change span{
		padding: 10px 25px;
	}

	/* SUCCESS PAGE */

	.main-success img {
        width: 100px;
    }
	.main-success h3 {
        font-size: 40px;
    }
	.main-success p,
	.main-success .btn {
        font-size: 16px;
    }

	/* ABOUT US PAGE */

	.about-us .pageheader h1 {
		margin: auto;
		padding: 8px 20px;
		font-size: 40px;
		margin-top: 120px;
	}
	.about-us .pageheader h3 {
		font-size: 20px;
		margin: auto;
		margin-bottom: 80px;
	}
	
	.about-us__text {
		gap: 20px;
	}

	.about-us .pd-90-0 {
		padding: 60px 0px;
	}

	.about-us .pd-30-0 {
		padding: 20px 0px;
	}

	.about h3,
	.our-team h3,
	.about-us .values h2 {
		font-size: 38px;
	}

	.about p {
		padding: 50px;
		font-size: 18px;
	}

	.our-team .col-4 h3 {
		margin-bottom: 0px;
	}

	.our-team .person h4 {
		font-size: 18px;
	}

	.person p, 
	.about-us .values p{
		font-size: 16px;	
	}

	.about-us .pd-50 {
		padding: 30px 0px;
	}

	.about-us .values {
		padding: 20px;
	}

	.about-us .value {
		max-width: 250px;
		padding: 20px;
		gap: 20px;	
	}

	.about-us .value img {
		width: 60px;
		margin: auto;
	}
	.about-us .value h3 {
		font-size: 18px;
	}
	.about-us .value p {
		color: rgba(241, 241, 241, 0.70);
		font-weight: 300;
		font-size: 16px;	
	}

	.values {
		padding-top: 60px !important;
		padding-bottom: 60px !important;
	}

	/* CART PAGE */

	.main-cart,
	.main-contact,
	main.main-product {
		padding: 0px 20px;
	}
	
	.main-cart .headline,
	.main-payment .headline {
		font-size: 32px !important;	
	}
	
	.main-cart .headline span {
		font-size: 28px;	
	}

	.main-cart .item-cart__image {
		width:80px;
	}

	.main-cart .item-cart__info h6,
	.main-cart .cart-summary__top h5,
	.main-cart .total-price h6,
	.main-cart .accordion label{
		font-size: 16px;
	}

	.main-cart .item-cart__info span,
	.main-cart .item-cart__price .discount,
	.main-cart .item-cart__price .price-before,
	.main-cart .price-data,
	.main-cart .accordion,
	.main-cart .qty-number,
	.main-cart .accordion input[type="text"]::placeholder {
		font-size: 12px;
	}
	
	.main-cart .item-cart__price .actual-price,
	.main-cart .total-price span {
		font-size: 20px ;
	}
	
	.main-cart .qty-number {
		padding: 4px 15px;
	}

	.main-cart .circle::before {
		width: 20px;
		height: 20px;
		font-size: 8px;
	}

	.main-cart .item-cart__price {
		margin-right: 30px;
	}
	.main-cart .item-cart__quantity {
		margin-right: 0px;
	}

	.main-cart .btn-remove {
		padding: 0px 5px;
	}

	/* CONTACT PAGE */

	/* PAYMENT PAGE */

	/* SUCCESS PAGE */

	.main-success.success {
		padding: 200px 20px;
	}

	/* PRODUCT PAGE */

	.product-panel-responsive,
	.pp-responsive-bottom {
		display: none;
	}

	main.main-product {
		padding-bottom: 40px;
	}

	.main-product .product-panel {
		padding-top: 60px;
	}

	.main-product .image-grid {
		grid-auto-rows: 110px;
	}

	.main-product .product-name,
	.main-product .headline,
	.main-product .price-after {
		font-size: 30px;
	}

	.main-product h4 {
		font-size: 24px;
	}

	.main-product .requirements h6,
	.main-product .user-review__mid h4 {
		font-size: 20px;
	}

	.main-product .price-before,
	.main-product .price-discount,
	.main-product .btn,
	.main-product p,
	.main-product .requirements th,
	.main-product .requirements td,
	.main-product .product-reviews .user-top-left p:first-child {
		font-size: 16px;
	}

	.main-product .stars-section,
	.main-product .product-reviews .user-top-left p,
	.main-product .product-reviews .user-verify p,
	.main-product .user-stars,
	.main-product .user-review__mid p,
	.main-product .user-review__bottom span {
		font-size: 14px;
	}

	.main-product .product-panel select {
		max-width: 48%;
		font-size: 14px;
	}

	.main-product .product-metadata {
		font-size: 12px;
	}

	.main-product .product-metadata .gap-10 {
		gap: 5px;
	}

	.main-product .product-metadata img {
		width: 16px;
	}


	.main-product .product-reviews img {
		width: 70px;
	}

	.main-product .product-reviews .user-verify img,
	.main-product .user-review__bottom img {
		width: 20px;
	}

	.main-product .user-review__bottom a {
        padding: 8px 20px;  
    }

	.main-product .slider-nav a {
		width: 15px;
		height: 15px;
	}
	
}





/*--------------------------------------------------------------*/
/*--------------- Laptop small-size screen -Resoluciones desde 700 hasta 1000--------------*/
/*--------------------------------------------------------------*/
@media screen and (max-width: 1000px)
{	

	/* HEADER */
	header .logo img.pd-40-0 {
	padding: 0px;
	margin: auto;
	}
	header .logo img {
	margin-left: 0px;
	}
	header.pd-20 {
	padding: 15px;
	}
	header .header-right-responsive a {
	width: 20px;
	}

	/* FOOTER */
	footer .copyright {
		padding-bottom: 110px;
	}

		/* Header popup */

		header .dialog-body {
			background-color: transparent;
		}

		header .overlay {
			background-color: var(--color-1);
		}

		header .dialog-body h3 {
			font-size: 40px;
		}
		header .dialog-body .x-mark {
			font-size: 30px;
		}
		header .dialog-body input,
		header .dialog-body .btn {
			padding: 10px;
			font-size: 16px;
		}
		header .dialog-body input::placeholder {
			font-size: 16px;
		}


	/*HOME PAGE*/

	.header-right,
	.main-slider,
	.slider-nav,
	.show-more,
	.info-panel,
	.subscribe,
	.reviews,
	.res-payment-methods,
	.footer-trust,
	.footer-logo,
	.rev-slide-info h3,
	.rev-slide-info .user-name,
	.rev-slide-info .read-review,
	.links,
	.search-bar-responsive,
	.filter-platform-nav,
	.header-right-responsive {
		display: none;
	}

	.menu-responsive,
	.platforms-responsive,
	.show-all,
	.res-slider,
	.responsive-reviews,
	.subscribe-responsive,
	.responsive-links  {
		display: block;
	}
	.logo {
		margin: auto;
		& img {
			margin: auto;
		}
	}

	.menu {
		width: 100%;
		margin-top: 30px;
	}

	.platforms-responsive__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

	.bestseller__container,
	.newreleases__container,
	.requirements__container {
		display: grid;
        grid-auto-flow: column;
        scroll-behavior: auto;
        gap: 30px;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
	}

	.search-bar-responsive {
		max-width: 580px;
		margin: auto;
	}

	.headline { 
		font-size: 20px !important;
	}

	.bestseller .item-price,
	.new-releases .item-price {
		font-size: 16px;
	}

	.bestseller .item-name,
	.new-releases .item-name,
	.platforms-responsive,
	.subscribe-responsive h6 {
		font-size: 14px;
	}
	
	.bestseller .item-discount,
	.new-releases .item-discount {
		font-size: 12px;
	}

	.main-home .item-overlay button{
		font-size: 11px;
	}

	.item {
		min-width: 300px;
	}


	.media-center {
		margin: auto;
	}

	.media-center .icon-appstore,
	.media-center .icon-googleplay {
		width: 150px;
	}

	.media-center .icon-twitter,
	.media-center .icon-instagram, 
	.media-center .icon-youtube, 
	.media-center .icon-discord {
		width: 30px;
	}

	.main-home .pay-visa,
	.main-home .pay-mastercard,
	.main-home .pay-maestro,
	.main-home .pay-bitcoin,
	.main-home .pay-apple {
		width: 70px;
	}

	.main-home .res-slider {
		padding-left: 15px;
		padding-bottom: 20px;
		padding-top: 20px;
	}


	.main-home .platforms-responsive__container,
	.main-home .bestseller__container,
	.main-home .newreleases__container, 
	.main-home .res-reviews__container {
		gap: 20px;
	}

	.main-home .headline,
	.main-home .show-all {
		padding-bottom: 20px;
	}

	.main-home .item,
	.main-home .res-reviews__card,
	.main-home .res-slider__card div {
		min-width: 280px;
		
	}

	.main-home .pd-30,
	main .pd-30,
	.main-home .res-payment-methods {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 25px;
		padding-top: 25px;
	}

	.main-home .bestseller,
	.main-home .new-releases,
	.main-home .responsive-reviews {
		padding-left: 20px;
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.main-home .show-all {
		padding-right: 20px;
	}

	.main-home .subscribe-responsive {
		margin-top: 30px;
		margin-bottom: 20px;
	}

	.main-home .res-reviews__container{
		padding-left: 0px;
	}

	.main-home .res-reviews__container h2.pd-0-30 {
		padding: 0px;
	}


	/* SEARCH PAGE */

	.main__search-page .search-bar-responsive {
		padding-top: 30px;
	}
	.main__search-page {
		min-height: 100dvh;
	}

	.search-page__container {
		display: grid; 
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px;
		row-gap: 50px;
		padding: 30px 0px;
	}

	.main__search-page {
		padding: 0px 20px;
	}

	/* ABOUT US PAGE */

	.logo img {
		max-width: 140px;
		margin-left: 20px;
	}

	.about-us .pageheader h1 {
		margin: auto;
		padding: 8px 20px;
		font-size: 30px;
		margin-top: 80px;
	}

	.about-us .pageheader h3 {
		font-size: 18px;
		margin: auto;
		margin-bottom: 40px;
	}

	.about h3,
	.our-team h3,
	.about-us .values h2 {
		font-size: 28px;
	}

	.person p, 
	.about-us .values p,
	.our-team .person h4,
	.about-us .value h3,
	.about p {
		font-size: 16px;	
	}

	
	.about-us__text {
		gap: 15px;
	}

	.about-us .pd-90-0 {
		padding: 40px 0px;
	}

	.about-us .pd-50 {
		padding: 30px 0px;
	}

	.about-us .pd-30-0 {
		padding: 20px 0px;
	}

	.about-us .values,
	.about p {
		padding: 20px;
	}

	.values {
		padding-top: 40px !important;
		padding-bottom: 40px !important;
	}

	.our-team .col-4 {
		width: 100%;
		background: linear-gradient(0deg, rgba(20, 21, 27, 0.70) 0%, rgba(20, 21, 27, 0.70) 100%), url("../images/our-team-responsive.png");
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.about-us .value {
		max-width: 1000px;
		padding: 20px;
		gap: 20px;
		border: 1px solid rgba(241, 241, 241, 0.20);	
	}

	.about-us .value img {
		width: 50px;
		margin: auto;
	}

	.our-team .col-4 h3 {
		margin-bottom: 0px;
	}

	/* CART PAGE */

	.main-cart .coupons {
		display: none;
	}

	.main-cart .cart-summary,
	.main-payment .cart-summary {
		border: none;
	}

	.main-cart {
		padding: 0px 20px;
	}

	.main-cart .cart-page,
	.main-payment .payment-page {
		grid-template-columns: 1fr;
	}

	.main-cart .cart-summary__bottom,
	.main-payment .cart-summary__bottom  {
		padding-top: 80px;
		gap: 30px;
		max-width: 50%;
		margin: auto;
		background-color: transparent;
	}

	.main-cart .headline,
	.main-payment .headline {
		font-size: 28px !important;
	}

	.main-cart .headline span {
		font-size: 24px;
	}

	.main-cart .item-cart__price .actual-price,
	.main-cart .total-price span,
	.main-payment .item-cart__price .actual-price,
	.main-payment .total-price span {
        font-size: 20px ;
    }

	.main-cart .item-cart__info h6,
	.main-payment .item-cart__info h6,
	.main-cart .cart-summary__top h5,
	.main-payment .cart-summary__top h5,
	.main-cart .total-price h6,
	.main-payment .total-price h6{
        font-size: 16px;
    }

	.main-cart .item-cart__info span,
	.main-cart .item-cart__price .discount,
	.main-cart .item-cart__price .price-before,
	.main-cart .price-data,
	.main-payment .item-cart__info span,
	.main-payment .item-cart__price .discount,
	.main-payment .item-cart__price .price-before,
	.main-payment .price-data {
        font-size: 14px;
    }
	
	.main-cart .qty-number {
		font-size: 12px;
        padding: 4px 15px;
    }

	.main-cart .circle::before {
		font-size: 8px;
        width: 20px;
        height: 20px;
	}

	.main-cart .item-cart__quantity {
        margin-right: 10px;
    }

    .main-cart .item-cart__price {
        margin-right: 60px;
    }


	/* PAYMENT PAGE */

	.main-payment .cart-summary__bottom {
		display: block;
	}

	.main-payment .coupons,
	.main-payment .gift,
	.main-payment .pay-with-card,
	.main-payment .paypal-payment .accordion-content,
	.main-payment .googlepay-payment .accordion-content {
		display: none;
	}

	.main-payment .coupons-responsive {
		display: block;
	}

	.main-payment {
		padding: 0px 20px;
	}
	.main-payment .headline {
		margin-bottom: 0px;
	}

	.main-payment .cart-summary__bottom {
		padding-bottom: 90px;
	}

	.main-payment label,
	.main-payment input,
	.main-payment p,
	.main-payment .cart-summary h5,
	.main-payment .cart-summary h6 {
		font-size: 16px;
	}

	.pay-with-paypal a,
	.pay-with-googlepay a,
	.pay-with-card,
	.remember-card label {
		font-size: 14px;
	}

	.pay-with-paypal img,
	.pay-with-googlepay img{
		width: 50px;
	}

	/* CONTACT PAGE */

	.main-contact {
		padding: 0px 20px;
	}

	.main-contact h1 {
		font-size: 28px !important;
	}
	.main-contact p {
		font-size: 16px !important;
	}

	.main-contact label,
	.main-contact input,
	.main-contact p,
	.main-contact span,
	.main-contact button {
		font-size: 16px;
	}

	/* SUCCESS PAGE */

	.footer-success {
		display: none;
	}

	.main-success.success {
		padding: 120px 20px;
	}

	.main-success img {
        width: 80px;
    }
	.main-success h3 {
        font-size: 30px;
    }
	.main-success p,
	.main-success .btn {
        font-size: 14px;
    }

	/* PRODUCT PAGE */

	.main-product .product-panel {
		display: none;
	}

	.product-panel-responsive,
	.pp-responsive-bottom {
		display: block;
	}

	.main-product .product-reviews article {
		grid-template-columns: 1fr;
	}

	.main-product .headline {
		font-size: 24px !important;
	}

	.main-product h4,
	.main-product .requirements h6,
	.main-product .user-review__mid h4 {
		font-size: 20px;
	}
	
	.main-product .btn,
	.main-product .product-metadata,
	.main-product .product-reviews .user-top-left p,
	.main-product .product-reviews .user-verify p,
	.main-product .user-stars,
	.main-product .user-review__mid p,
	.main-product .user-review__bottom span  {
		font-size: 14px;
	}
	
	.main-product p,
	.main-product .requirements th,
	.main-product .requirements td,
	.main-product .product-reviews .user-top-left p:first-child {
		font-size: 16px;
	}

	main.main-product {
		padding: 0px;
	}

	.main-product .pp-responsive-bottom {
		padding-top: 60px;
	}

	.main-product .slider-nav {
		padding-bottom: 60px;
	}

	#reviews .headline {
		padding-bottom: 30px;
	}


	.main-product .product-information {
		padding: 90px 30px;
	}

	.main-product .requirements,
	.main-product .product-reviews {
		padding: 0px 30px;
	}

	.main-product .user-review__bottom a {
        padding: 8px 20px;  
    }

	.main-product .product-metadata .gap-10 {
		gap: 10px;
	}

	.main-product .product-metadata img {
		width: 16px;
	}

	.main-product .product-reviews .user-verify img,
	.main-product .user-review__bottom img  {
		width: 20px !important;
	}

	.main-product .product-reviews img {
		width: 70px;
	}

	.main-product .slider-nav a {
		width: 15px;
		height: 15px;
	}

	.item-requirements {
		min-width: 500px;
		background: rgba(53, 53, 53, 0.2);
		padding: 20px;
		border: 2px solid rgba(241, 241, 241, 0.2);
	}
	
}




/*--------------------------------------------------------------*/
/*--------------- Tablets - Resoluciones desde 421 hasta 700 --------------*/
/*--------------------------------------------------------------*/

@media screen and (max-width: 700px)
{	
	/* HEADER */

	/* FOOTER */
	footer .copyright {
		font-size: 14px;
	}

			/* Header popup */

			header .dialog-body {
				padding: 0px;
				margin-top: 0px;
			}

			header .dialog-body h3 {
				font-size: 30px;
			}
			header .dialog-body .x-mark {
				font-size: 20px;
			}
			header .dialog-body input,
			header .dialog-body .btn {
				padding: 8px;
				font-size: 14px;
			}
			header .dialog-body input::placeholder {
				font-size: 14px;
			}

	/*HOME PAGE*/

	.payment-methods {
		display: none;
	}

	.platforms-responsive__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.res-payment-methods {
		display: flex;
	}

	.main-home .bestseller,
	.main-home .new-releases,
	.main-home .responsive-reviews,
	.main-home .res-slider {
		padding-left: 15px;
	}

	.main-home .headline,
	.main-home .show-all {
		padding-bottom: 15px;
	}

	.main-home .show-all {
		padding-right: 15px;
	}

	.main-home .pd-30,
	.main-home .res-payment-methods {
		padding-left: 15px;
		padding-right: 15px;
	}

	.main-home .res-slider__card div {
		min-width: 280px;
	}

	/* SEARCH PAGE */

	.page-change,
	.main__search-page .item-overlay,
	.header-search,
	.footer-search,
	.main__search-page .item-platforms {
		display: none;
	}

	.search-page__container {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
		row-gap: 30px;
		padding: 30px 0px;
	}

	.search-page .item-price {
		font-size: 12px;
	}

	.search-page .item-name {
		font-size: 10px;
		color: rgba(255, 255, 255, 0.70);
	}

	.search-page .item-discount {
		font-size: 8px;
		font-weight: 700;
	}

	.main__search-page {
		padding: 0px 20px;
	}

	.main__search-page .search-bar-responsive {
		padding-top: 30px;
	}

	.search-bar-responsive {
		width: 100%;
	}

	.main__search-page .item {
		min-width: 160px;
	}

	.main__search-page .headline {
		margin-bottom: 0px;
	}

	.main__search-page {
		margin-bottom: 60px;
	}

	/* ABOUT US PAGE */ 

	.logo img {
		max-width: 120px;
		margin-left: 20px;
	}

	.about-us .pageheader h1,
	.about h3,
	.our-team h3,
	.about-us .values h2 {
		font-size: 24px;
	}


	.about-us .pageheader h3,
	.our-team .person h4,
	.about-us .value h3 {
		font-size: 16px;
	}

	.person p,
	.about-us .values p {
		font-size: 14px;	
	}

	.about p {
		padding: 20px;
		font-size: 14px;
	}

	.about-us .value img {
		width: 40px;
	}

	/* CONTACT PAGE*/

	.main-contact {
		padding: 0px 20px;
	}

	.main-contact .text-head {
		padding: 20px;
	}
	.main-contact .text-head p{
		font-size: 16px !important;
	}

	.main-contact label,
	.main-contact input,
	.main-contact textarea::placeholder,
	.main-contact .btn {
		font-size: 14px !important;
	}
	.main-contact span {
		font-size: 12px !important;
	}

	/* CART PAGE */

	.main-cart .cart-page,
	.main-payment .payment-page {
		grid-template-columns: 1fr;
	}

	.main-cart .item-cart__quantity,
	.main-cart .coupons {
		display: none;
	}
	
	.main-cart .item-cart__quantity-res {
		display: flex;
		padding-top: 5px ;
	}

	.main-cart .cart-summary,
	.main-payment .cart-summary {
		border: none;
	}

	.main-cart .qty-number {
        border: none;
		font-size: 10px;
		padding: 0px;
    }

	.main-cart .headline,
	.main-payment .headline {
		font-size: 28px !important;
		
	}

	.main-cart .item-cart__info h6,
	.main-payment .item-cart__info h6,
	.main-cart .cart-summary__top h5,
	.main-payment .cart-summary__top h5,
	.main-cart .total-price h6,
	.main-payment .total-price h6{
		font-size: 16px;
	}
	
	.main-cart .item-cart__info span,
	.main-cart .item-cart__price .discount,
	.main-cart .item-cart__price .price-before,
	.main-cart .price-data,
	.main-payment .item-cart__info span,
	.main-payment .item-cart__price .discount,
	.main-payment .item-cart__price .price-before,
	.main-payment .price-data {
		font-size: 12px;
	}
		
	.main-cart .item-cart__price .actual-price,
	.main-cart .total-price span,
	.main-payment .item-cart__price .actual-price,
	.main-payment .total-price span {
		font-size: 18px ;
	}

	.main-cart .cart-summary__bottom,
	.main-payment .cart-summary__bottom  {
		padding-top: 80px;
		gap: 30px;
		max-width: 50%;
		margin: auto;
		background-color: transparent;
	}

	.main-cart .qty-number {
        padding: 4px 15px;
		font-size: 12px;
    }

	.main-cart {
		padding: 0px 20px;
	}

	.main-cart .item-cart__image {
		width:60px
	}

	.main-cart .circle::before {
        width: 20px;
        height: 20px;
        font-size: 8px;
	}

	.main-cart .item-cart__quantity {
        margin-right: 10px;
    }

	.main-cart .item-cart__quantity {
		margin-right: 10px;
	}

	.main-cart .item-cart__price {
		margin-right: 30px;
	}

	.main-cart .cart-summary__bottom  {
		padding-top: 60px;
		gap: 30px;
		max-width: 100%;
	}

	.main-cart .btn-remove {
		padding: 0px 4px;
		font-size: 15px;
	}

	.main-cart .qty-number {
		padding: 4px 15px;
		font-size: 12px;
	}
	.main-cart .pd-15 {
		padding: 10px;
	}
	.main-cart .gap-20 {
		gap: 10px;
	}

	.main-cart .item-cart__info {
		gap: 5px !important;
	}

	/* SUCCESS PAGE */

	.main-success.success {
		padding: 80px 20px;
	}

	.main-success img {
        width: 60px;
    }
	.main-success h3 {
        font-size: 24px;
    }
	.main-success p,
	.main-success .btn {
        font-size: 12px;
    }
	
	
	/* PAYMENT PAGE */

	.main-payment .headline {
		font-size: 20px !important;
		padding-bottom: 20px !important;
	}

	.main-payment label,
	.main-payment input,
	.main-payment p,
	.main-payment .btn {
		font-size: 14px;
	}

	.pay-with-paypal a,
	.pay-with-googlepay a,
	.pay-with-card,
	.main-payment input::placeholder,
	.remember-card label {
		font-size: 14px;
	}

	.main-payment {
		padding: 0px 20px;
	}

	.main-payment .cart-summary__bottom {
		padding-bottom: 90px;
	}
	.main-payment .payment-method {
		padding-bottom: 0px;
	}
	.main-payment .cart-summary__bottom {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.pay-with-paypal img,
	.pay-with-googlepay img{
		width: 50px;
	}
	
	/* PRODUCT PAGE */

	.main-product .slider-nav a {
		display: none;
	}

	.main-product .product-reviews article {
		grid-template-columns: 1fr;
	}

	.main-product .requirements,
	.main-product .product-reviews {
		padding: 0px 20px;
	}

	.main-product .headline {
		font-size: 20px !important;
		margin-bottom: 0px;
	}

	.main-product h4,
	.main-product .requirements h6,
	.main-product .user-review__mid h4 {
		font-size: 16px;
	}

	.main-product .product-reviews .user-top-left p:first-child,
	.main-product .user-review__mid p {
		font-size: 14px;
	}

	.main-product .btn,
	.main-product .product-metadata,
	.main-product p,
	.main-product .requirements th,
	.main-product .requirements td,
	.main-product .product-reviews .user-top-left p,
	.main-product .product-reviews .user-verify p,
	.main-product .user-stars,
	.main-product .user-review__bottom span {
		font-size: 12px;
	}

	.item-requirements {
		min-width: 320px;
		background: rgba(53, 53, 53, 0.2);
		padding: 20px;
		border: 2px solid rgba(241, 241, 241, 0.2);
	}

	.main-product .product-reviews img {
		width: 50px;
	}

	.main-product .product-metadata img {
		width: 16px;
	}
	
	.main-product .product-reviews .user-verify img {
		width: 14px;
	}
	.main-product .user-review__bottom img {
		width:16px;
	}

	.main-product .product-information {
		padding: 40px 20px;
	}

	.main-product .requirements h6 {
		padding-top: 5px;
		padding-bottom: 10px;
	}

	.main-product .requirements th,
	.main-product .requirements td {
		padding: 10px;
	}

	.main-product .user-review__bottom a {
		padding: 5px 10px;  
	}

	.main-product .pp-responsive-bottom {
		padding-top: 30px;
	}
	.main-product .slider-nav {
		padding-bottom: 30px;
	}

	#reviews .headline  {
		padding-top: 60px;
	}

}

/*--------------------------------------------------------------*/
/*--------------- Mobile devices - Resoluciones desde 320 hasta 420---------------*/
/*--------------------------------------------------------------*/

@media screen and (max-width: 420px) {

	/* HEADER */

	header .logo img {
		width: 90px;
	}
		
	header .header-right-responsive a {
		width: 16px;
	}

	/* FOOTER */

	footer .copyright {
		font-size: 12px;
	}

	/* HOME PAGE */

	.main-home .res-slider__card div {
		min-width: 230px;
	}

	.main-home .item,
	.main-home .res-reviews__card {
		min-width: 250px;
	}

	.main-home .pay-visa,
	.main-home .pay-mastercard,
	.main-home .pay-maestro,
	.main-home .pay-bitcoin,
	.main-home .pay-apple {
		width: 50px;
	}

	/* SEARCH PAGE */

	.main__search-page .search-page__container {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 30px;
	}

	.main__search-page .item-name {
		font-size: 14px;
	}
	
	.main__search-page .item-price {
		font-size: 18px;
	}
	.main__search-page .item-discount {
		font-size: 12px;
	}

	.main__search-page {
		margin-bottom: 60px;
	}
	.main__search-page .headline {
		margin-bottom: 0px;
	}
	
	/* ABOUT US PAGE */

	.about-us .pageheader h1 {
		font-size: 24px;
	}

	.about h3,
	.our-team h3,
	.about-us .values h2 {
		font-size: 20px;
	}

	.about-us .value h3,
	.about-us .value h3,
	.our-team .person h4,
	.about-us .pageheader h3 {
		font-size: 16px;
	}

	.our-team .person h4,
	.person p,
	.about-us .values p,
	.about p  {
		font-size: 14px;
	}

	.about p,
	.person p,
	.about-us .values p {
		font-size: 12px;
	}

	.about p {
		padding: 20px;
	}

	.logo img {
		max-width: 90px;
	}

	.about-us .value img {
		width: 40px;
	}

	.values {
		padding-top: 20px !important;
		padding-bottom: 20px !important;
	}

	.about-us .values {
		margin-bottom: 30px;	
		margin-top: 20px;
	}

	/* CONTACT PAGE*/

	
	.main-contact h1 {
		font-size: 20px !important;
	}

	.main-contact .text-head p{
		font-size: 14px !important;
	}

	.main-contact label,
	.main-contact input,
	.main-contact textarea::placeholder,
	.main-contact .btn {
		font-size: 12px !important;
	}

	.main-contact p {
		margin-top: 20px;
		font-size: 12px !important;
	}
	.main-contact span {
		font-size: 10px !important;
	}
	
	.main-contact .text-head {
		padding: 20px;
	}


	/* CART PAGE */

	.main-cart .item-cart__quantity-res {
		display: flex;
		padding-top: 0px ;
	}

	.main-cart .headline {
		font-size: 20px !important;
	}

	.main-cart .headline span {
		font-size: 16px;	
	}

	.main-cart .item-cart__info h6,
	.main-cart .cart-summary__top h5,
	.main-cart .total-price h6{
        font-size: 12px;
    }
	
	.main-cart .item-cart__price .actual-price,
	.main-cart .total-price span {
        font-size: 12px ;
    }

	.main-cart .item-cart__info span,
	.main-cart .item-cart__price .discount,
	.main-cart .item-cart__price .price-before,
	.main-cart .price-data {
        font-size: 10px;
    }

	.main-cart .item-cart__image {
		width:40px;
	}

	.main-cart .circle::before {
        width: 14px;
        height: 14px;
        font-size: 6px;
	}

	.main-cart {
		padding-top: 30px !important;
		padding-bottom: 30px !important;
	}

	.main-cart .btn-remove {
		padding: 0px 2px;
		font-size: 10px;
	}
	.main-cart .pd-15 {
		padding: 6px;
	}

	.main-cart .cart-summary__bottom  {
		padding-top: 40px;
		font-size: 10px;
		max-width: 100%;
	}

	.main-cart .headline {
		margin-bottom: 0px;
	}

	.main-cart .item-cart-3 {
		margin-bottom: 0px;
	}

	.main-cart .item-cart__price {
        margin-right: 30px;
    }

	.main-cart .item-cart__info {
		gap: 0px !important;
	}

	.main-cart .gap-20 {
		gap: 8px;
	}
	
	.main-cart .qty-number {
        border: none;
		font-size: 10px;
		padding: 0px;
    }

	/* PAYMENT PAGE */

	.main-payment .headline {
		font-size: 18px !important;
	}

	.main-payment .item-cart__price .actual-price,
	.main-payment .total-price span {
        font-size: 16px ;
    }
	.main-payment label,
	.main-payment input,
	.main-payment p,
	.main-payment .btn,
	.main-payment .item-cart__info h6,
	.main-payment .cart-summary__top h5,
	.main-payment .total-price h6 {
		font-size: 12px;
	}

	.pay-with-paypal a,
	.pay-with-googlepay a,
	.pay-with-card,
	.remember-card label,
	.cart-summary__bottom a,
	.main-payment .item-cart__info span,
	.main-payment .item-cart__price .discount,
	.main-payment .item-cart__price .price-before,
	.main-payment .price-data {
		font-size: 10px;
	}

	.pay-with-paypal img,
	.pay-with-googlepay img{
		width: 40px;
	}
	
	.pay-paypal-icon,
	.pay-visa-icon,
	.pay-googlepay-icon {
		width: 100px;
	}

	.main-payment .cart-summary__bottom {
		padding-bottom: 80px;
	}

	/* SUCCESS PAGE */

	.main-success h3 {
        font-size: 20px;
    }
	.main-success p,
	.main-success .btn {
        font-size: 12px;
    }

	.main-success.success {
		padding: 60px 20px;
	}

	.main-success img {
        width: 50px;
    }
	

	/* PRODUCT PAGE */

	.main-product .slider-nav a {
		display: none;
	}

	.main-product .product-reviews article {
		grid-template-columns: 1fr;
	}

	.main-product .pp-responsive-top .headline {
		font-size: 20px !important;	
	}

	.main-product .headline,
	.main-product .user-review__mid h4 {
		font-size: 16px !important;
	}

	.main-product .pp-responsive-top i,
	.main-product h4,
	.main-product .requirements h6 {
		font-size: 14px;	
	}

	.main-product .user-review__mid p {
		font-size: 12px;
		font-weight: 100;
	}

	.main-product .pp-responsive-bottom select {
		font-size: 12px;
	}

	.main-product .user-review__bottom span {
		font-size: 10px;
		font-weight: 300;
	}
	
	.main-product .btn,
	.main-product .product-metadata,
	.main-product p,
	.main-product .requirements th,
	.main-product .requirements td,
	.main-product .product-reviews .user-top-left p:first-child {
		font-size: 10px;
	}

	.main-product .product-reviews .user-top-left p ,
	.main-product .product-reviews .user-verify p,
	.main-product .user-stars {
		font-size: 8px;
	}
	
	.main-product .product-metadata .gap-10 {
		gap: 5px;
	}
	.main-product .gap-50 {
		gap: 30px;
	}

	.main-product .product-metadata img {
		width: 14px;
	}

	.main-product .slider-nav a {
		width: 15px;
		height: 15px;
	}

	.main-product .user-review__bottom img {
		width: 16px;
	}

	.main-product .product-reviews img {
		width: 40px;
	}

	.main-product .product-reviews .user-verify img {
		width: 10px;	
	}

	.pp-responsive-mid img {
		max-width: 250px !important;
	}

	.item-requirements {
		min-width: 280px;
		background: rgba(53, 53, 53, 0.2);
		padding: 20px;
		border: 2px solid rgba(241, 241, 241, 0.2);
	}

	.main-product .user-review {
		padding: 20px;
	}

	.main-product .user-review__bottom a {
        padding: 5px 5px;  
    }

	.main-product .gap-20 {
		gap: 10px;
	}

}