/*--------------------------------------------------------------*/
/*-------------------------Comprobar a 1701---------------------*/
/*--------------------------------------------------------------*/
@media screen and (min-width: 1701px){

	/*HOME PAGE*/

	.search-bar-responsive {
        display: none;
    }

	.menu-responsive {
		display: none;
	}

	.header-right-responsive {
		display: none;
	}

	.platforms-responsive {
        display: none;
    }

	.subscribe-responsive {
		display: none;
	}

	.show-all {
		display: none;
	}
	
	.bestseller__container,
	.newreleases__container {
		display: grid; 
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
		row-gap: 50px;
		padding: 50px 0px;
	}

	.res-slider {
		display: none;
	}

	.reviews {
		display: block;
	}

	.responsive-reviews {
		display: none;
	}

	.res-payment-methods {
		display: none;
	}

	.links {
		display: block;
	}

	.responsive-links {
		display: none;
	}

	/* SEARCH PAGE */

	.search-page__container {
		display: grid; 
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
		row-gap: 50px;
		padding: 50px 0px;
	}
	
	.page-change span{
		padding: 10px 30px;
	}

	/* CART PAGE */

	.main-cart .item-cart__quantity-res {
		display: none;
	}

	/* PAYMENT PAGE */


	.main-payment .coupons-responsive {
		display: none;
	}

	.main-payment {
		padding: 0px 20px;
	}


	

}

/*--------------------------------------------------------------*/
/*--------------- Extra-large devices - Resoluciones desde 1321 hasta 1700-------------*/
/*--------------------------------------------------------------*/
@media screen and (max-width: 1700px)
{
	/*HOME PAGE*/

	.search-bar-responsive {
        display: none;
    }

	.menu-responsive {
		display: none;
	}

	.header-right-responsive {
		display: none;
	}

	.platforms-responsive {
        display: none;
    }
	
	.bestseller__container,
	.newreleases__container {
		display: grid; 
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
		row-gap: 50px;
		padding: 50px 0px;
	}

	.show-all {
		display: none;
	}

	.show-more {
		display: flex;
	}

	.info-panel {
		display: block;
	}

	.subscribe {
		display: block;
	}

	.subscribe-responsive {
		display:none;
	}

	.res-slider {
		display: none;
	}
	.responsive-reviews {
		display: none;
	}

	.res-payment-methods {
		display: none;
	}

	.links {
		display: block;
	}

	.responsive-links {
		display: none;
	}

	/* SEARCH PAGE */

	.search-page__container {
		display: grid; 
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
		row-gap: 50px;
		padding: 50px 0px;
	}

	.page-change span{
		padding: 10px 30px;
	}

	/* ABOUT US PAGE */

	.about-us .value {
		max-width: 390px;
		
	}

	/* CART PAGE */

	.main-cart .item-cart__quantity-res {
		display: none;
	}

	/* PAYMENT PAGE */


	.main-payment .coupons-responsive {
		display: none;
	}

	.main-payment {
		padding: 0px 20px;
	}

}

/*--------------------------------------------------------------*/
/*--------------- Desktop - Resoluciones desde 1001 hasta 1320-------------*/
/*--------------------------------------------------------------*/
@media screen and (max-width: 1320px)
{	

	/*HOME PAGE*/

	.logo img {
		max-width: 200px;
	}
	
	.responsive-links {
		display: none;
	}
	
	/* SEARCH PAGE */

	.search-page__container {
		display: grid; 
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
		row-gap: 50px;
		padding: 50px 0px;
	}

	.main__search-page {
		padding: 0px 20px;
	}

	.page-change span{
		padding: 10px 25px;
	}

	/* ABOUT US PAGE */

	.about-us .pageheader h1 {
		margin: auto;
		padding: 8px 20px;
		font-size: 40px;
		margin-top: 120px;
	}
	.about-us .pageheader h3 {
		font-size: 20px;
		margin: auto;
		margin-bottom: 80px;
	}
	
	.about-us__text {
		gap: 20px;
	}

	.about-us .pd-90-0 {
		padding: 60px 0px;
	}

	.about-us .pd-30-0 {
		padding: 20px 0px;
	}

	.about h3,
	.our-team h3,
	.about-us .values h2 {
		font-size: 38px;
	}

	.about p {
		padding: 50px;
		font-size: 18px;
	}


	.our-team .col-4 h3 {
		margin-bottom: 0px;
	}

	.our-team .person h4 {
		font-size: 18px;
	}

	.person p, 
	.about-us .values p{
		font-size: 16px;	
	}

	.about-us .pd-50 {
		padding: 30px 0px;
	}

	.about-us .values {
		padding: 20px;
	}

	.about-us .value {
		max-width: 250px;
		padding: 20px;
		gap: 20px;	
	}

	.about-us .value img {
		width: 60px;
		margin: auto;
	}
	.about-us .value h3 {
		font-size: 18px;
	}
	.about-us .value p {
		color: rgba(241, 241, 241, 0.70);
		font-weight: 300;
		font-size: 16px;	
	}

	.values {
		padding-top: 60px !important;
		padding-bottom: 60px !important;
	}

	/* CART PAGE */

	.main-cart {
		padding: 0px 20px;
	}
	
	.main-cart .headline,
	.main-payment .headline {
		font-size: 32px !important;	
	}
	
	.main-cart .headline span {
		font-size: 28px;	
	}

	.main-cart .item-cart__image {
		width:80px;
	}

	.main-cart .item-cart__info h6,
	.main-cart .cart-summary__top h5,
	.main-cart .total-price h6,
	.main-cart .accordion label{
		font-size: 16px;
	}

	.main-cart .item-cart__info span,
	.main-cart .item-cart__price .discount,
	.main-cart .item-cart__price .price-before,
	.main-cart .price-data,
	.main-cart .accordion,
	.main-cart .accordion input[type="text"]::placeholder {
		font-size: 12px;
	}
	
	.main-cart .item-cart__price .actual-price,
	.main-cart .total-price span {
		font-size: 20px ;
	}
	
	.main-cart .qty-number {
		padding: 4px 15px;
		font-size: 12px;
	}

	.main-cart .circle::before {
		width: 20px;
		height: 20px;
		font-size: 8px;
	}


	.main-cart .item-cart__price {
		margin-right: 30px;
	}
	.main-cart .item-cart__quantity {
		margin-right: 0px;
	}

	.main-cart .btn-remove {
		padding: 0px 5px;
	}

	/* CONTACT PAGE */

	.main-contact {
		padding: 0px 20px;
	}

	/* SUCCESS PAGE */

	.main-success.success {
		padding: 200px 20px;
	}
	

}

/*--------------------------------------------------------------*/
/*--------------- Laptop small-size screen -Resoluciones desde 700 hasta 1000--------------*/
/*--------------------------------------------------------------*/
@media screen and (max-width: 1000px)
{	
	/*HOME PAGE*/

	.menu {
		display: none;
	}

	.search-bar-responsive {
		display: block;
		max-width: 580px;
		margin: auto;
		
	}

	.menu-responsive {
		display: block;
		
	}

	.header-right {
		display:none;
	}

	.header-right-responsive {
		display:block;
	}

	.main-slider {
		display: none;
	}

	.platforms-responsive {
        display: block;
		font-size: 14px;
    }

	.platforms-responsive__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

	.headline { 
		font-size: 16px !important;
	}

	.bestseller__container,
	.newreleases__container {
		display: grid;
        grid-auto-flow: column;
        scroll-behavior: auto;
        gap: 30px;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
	}

	.slider-nav {
		display: none;
	}

	.bestseller,
	.new-releases,
	.reviews {
		padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
	}

	.bestseller .item-name,
	.new-releases .item-name {
		font-size: 14px;
	}
	.bestseller .item-price,
	.new-releases .item-price {
		font-size: 16px;
	}
	.bestseller .item-discount,
	.new-releases .item-discount {
		font-size: 12px;
	}

	.item {
		min-width: 300px;
	}

	.show-all {
		display: block;
	}

	.show-more {
		display: none;
	}

	.info-panel {
		display: none;
	}

	.subscribe {
		display: none;
	}

	.subscribe-responsive h6 {
		font-size: 14px;
	}

	.subscribe-responsive {
		display: block;
	}

	.reviews-headline {
		display: flex;
	}

	.rev-slide-info h3,
	.rev-slide-info .user-name,
	.rev-slide-info .read-review {
		display: none;
	}

	.res-slider {
		display: block;
	}

	.reviews {
		display: none;
	}

	.responsive-reviews {
		display: block;
	}

	.res-payment-methods {
		display: none;
	}

	.footer-trust,
	.footer-logo {
		display: none;
	} 

	.media-center {
		margin: auto;
	}

	.media-center .icon-appstore,
	.media-center .icon-googleplay {
		width: 150px;
	}

	.media-center .icon-twitter,
	.media-center .icon-instagram, 
	.media-center .icon-youtube, 
	.media-center .icon-discord {
		width: 30px;
	}

	.links {
		display: none;
	}

	.responsive-links {
		display: block;
	}

	/* SEARCH PAGE */

	.main__search-page .search-bar-responsive {
		padding-top: 30px;
	}

	.search-page__container {
		display: grid; 
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px;
		row-gap: 50px;
		padding: 30px 0px;
	}

	.main__search-page {
		padding: 0px 20px;
	}

	/* ABOUT US PAGE */

	.logo img {
		max-width: 140px;
		margin-left: 20px;
	}

	.about-us .pageheader h1 {
		margin: auto;
		padding: 8px 20px;
		font-size: 30px;
		margin-top: 80px;
	}
	.about-us .pageheader h3 {
		font-size: 18px;
		margin: auto;
		margin-bottom: 40px;
	}
	
	.about-us__text {
		gap: 15px;
	}

	.about-us .pd-90-0 {
		padding: 40px 0px;
	}

	.about-us .pd-30-0 {
		padding: 20px 0px;
	}

	.about h3,
	.our-team h3,
	.about-us .values h2 {
		font-size: 28px;
	}

	.about p {
		padding: 20px;
		font-size: 16px;
	}

	.our-team .col-6 {
	}
	.our-team .col-4 {
		width: 100%;
		background: linear-gradient(0deg, rgba(20, 21, 27, 0.70) 0%, rgba(20, 21, 27, 0.70) 100%), url("../images/our-team-responsive.png");
		background-repeat: no-repeat;
		background-size: cover;
	}

	.our-team .col-4 h3 {
		margin-bottom: 0px;
	}

	.our-team .person h4 {
		font-size: 16px;
	}

	.person p, 
	.about-us .values p{
		font-size: 16px;	
	}

	.about-us .pd-50 {
		padding: 30px 0px;
	}

	.about-us .values {
		padding: 20px;
	}

	.about-us .value {
		max-width: 1000px;
		padding: 20px;
		gap: 20px;
		border: 1px solid rgba(241, 241, 241, 0.20);	
	}

	.about-us .value img {
		width: 50px;
		margin: auto;
	}
	.about-us .value h3 {
		font-size: 16px;
	}
	.about-us .value p {
		color: rgba(241, 241, 241, 0.70);
	}

	.values {
		padding-top: 40px !important;
		padding-bottom: 40px !important;
	}

	/* CART PAGE */

	.main-cart {
		padding: 0px 20px;
	}

	.main-cart .headline,
	.main-payment .headline {
		font-size: 28px !important;
		
	}

	.main-cart .headline span {
		font-size: 24px;
		
	}

	.main-cart .cart-page,
	.main-payment .payment-page {
		grid-template-columns: 1fr;
	}

	.main-cart .coupons {
		display: none;
	}

	.main-cart .cart-summary,
	.main-payment .cart-summary {
		border: none;
	}

	.main-cart .cart-summary__bottom,
	.main-payment .cart-summary__bottom  {
		padding-top: 80px;
		gap: 30px;
		max-width: 50%;
		margin: auto;
		background-color: transparent;
	}

	.main-cart .item-cart__info h6,
	.main-payment .item-cart__info h6,
	.main-cart .cart-summary__top h5,
	.main-payment .cart-summary__top h5,
	.main-cart .total-price h6,
	.main-payment .total-price h6{
        font-size: 16px;
    }

	.main-cart .item-cart__info span,
	.main-cart .item-cart__price .discount,
	.main-cart .item-cart__price .price-before,
	.main-cart .price-data,
	.main-payment .item-cart__info span,
	.main-payment .item-cart__price .discount,
	.main-payment .item-cart__price .price-before,
	.main-payment .price-data {
        font-size: 14px;
    }
	
	.main-cart .item-cart__price .actual-price,
	.main-cart .total-price span,
	.main-payment .item-cart__price .actual-price,
	.main-payment .total-price span {
        font-size: 20px ;
    }
	
	.main-cart .qty-number {
        padding: 4px 15px;
		font-size: 12px;
    }

	.main-cart .circle::before {
        width: 20px;
        height: 20px;
        font-size: 8px;
	}

	.main-cart .item-cart__quantity {
        margin-right: 10px;
    }

    .main-cart .item-cart__price {
        margin-right: 60px;
    }


	/* PAYMENT PAGE */

	.main-payment .coupons,
	.main-payment .gift {
		display: none;
	}

	.main-payment .coupons-responsive {
		display: block;
	}

	.main-payment {
		padding: 0px 20px;
	}

	.main-payment .cart-summary__bottom {
		padding-bottom: 90px;
	}

	.main-payment label,
	.main-payment input,
	.main-payment p {
		font-size: 16px;
	}

	.pay-with-paypal a,
	.pay-with-googlepay a,
	.pay-with-card,
	.remember-card label {
		font-size: 14px;
	}

	.pay-with-paypal img,
	.pay-with-googlepay img{
		width: 50px;
	}

	/* CONTACT PAGE */

	.main-contact {
		padding: 0px 20px;
	}

	.main-contact h1 {
		font-size: 28px !important;
	}
	.main-contact p {
		font-size: 16px !important;
	}

	.main-contact label,
	.main-contact input,
	.main-contact p,
	.main-contact span,
	.main-contact button {
		font-size: 16px;
	}

	/* SUCCESS PAGE */

	.main-success.success {
		padding: 150px 20px;
	}

	.main-success img {
		width: 80px;
	}
	.main-success h3 {
		font-size: 40px;

	}
	.main-success p {
		font-size: 14px;
	}
	.main-success a {
		font-size: 14px;
		width:40%;
	}

	



	




	


	



	
	







	

	
}

/*--------------------------------------------------------------*/
/*--------------- Tablets - Resoluciones desde 421 hasta 700 --------------*/
/*--------------------------------------------------------------*/

@media screen and (max-width: 700px)
{
	/*HOME PAGE*/

	.platforms-responsive__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.payment-methods {
		display: none;
	}

	.res-payment-methods {
		display: flex;
	}

	/* SEARCH PAGE */

	.main__search-page .search-bar-responsive {
		padding-top: 30px;
	}

	.search-bar-responsive {
		width: 100%;
	}

	.main__search-page {
		padding: 0px 20px;
	}

	.header-search {
		display: none;
	}

	.footer-search {
		display: none;
	}

	.main__search-page .item {
		min-width: 160px;
	}

	.item-platforms {
		display: none;
	}

	.search-page .item-name {
		font-size: 10px;
		color: rgba(255, 255, 255, 0.70);
	}

	.search-page .item-discount {
		font-size: 8px;
		font-weight: 700;
	}


	.search-page .item-price {
		font-size: 12px;
	}

	.search-page__container {
		display: grid; 
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px;
		row-gap: 50px;
		padding: 30px 0px;
	}

	.page-change {
		display: none;
	}

	/* ABOUT US PAGE */

	.logo img {
		max-width: 120px;
		margin-left: 20px;
	}

	.about-us .pageheader h1 {
		font-size: 24px;
	}

	.about-us .pageheader h3 {
		font-size: 16px;
	}

	.about h3,
	.our-team h3,
	.about-us .values h2 {
		font-size: 24px;
	}

	.about p {
		padding: 20px;
		font-size: 14px;
	}

	.our-team .person h4 {
		font-size: 16px;
	}

	.person p {
		font-size: 14px;	
	}

	.about-us .values p {
		font-size: 14px;	
	}

	.about-us .value img {
		width: 40px;
	}

	.about-us .value h3 {
		font-size: 16px;
	}

		/* CART PAGE */

	.main-cart {
		padding: 0px 20px;
	}

	.main-cart .headline {
		font-size: 28px !important;
		
	}

	.main-cart .headline span {
		font-size: 24px;
		
	}

	.main-cart .cart-page {
		grid-template-columns: 1fr;
	}

	.main-cart .coupons {
		display: none;
	}

	.main-cart .cart-summary {
		border: none;
	}


	.main-cart .item-cart__info h6,
	.main-cart .cart-summary__top h5,
	.main-cart .total-price h6{
        font-size: 16px;
    }

	.main-cart .item-cart__info span,
	.main-cart .item-cart__price .discount,
	.main-cart .item-cart__price .price-before,
	.main-cart .price-data {
        font-size: 12px;
    }
	
	.main-cart .item-cart__price .actual-price,
	.main-cart .total-price span {
        font-size: 20px ;
    }
	
	.main-cart .qty-number {
        padding: 4px 15px;
		font-size: 12px;
    }

	.main-cart .circle::before {
        width: 20px;
        height: 20px;
        font-size: 8px;
	}

	.main-cart .item-cart__quantity {
        margin-right: 10px;
    }

    .main-cart .item-cart__price {
        margin-right: 60px;
    }


	/* CART PAGE */

	.main-cart .item-cart__quantity {
		display: none;
	}
	
	.main-cart .item-cart__quantity-res {
		display: flex;
		padding-top: 5px ;
	}

	.main-cart .item-cart__info {
		gap: 5px !important;
	}

	.main-cart .item-cart__image {
		width:60px
	}

	.main-cart .headline {
		font-size: 24px !important;
	}

	.main-cart .headline span {
		font-size: 20px;	
	}

	.main-cart .cart-summary__bottom  {
		padding-top: 60px;

		gap: 30px;
		max-width: 100%;
	}

	.main-cart .item-cart__info h6,
	.main-cart .cart-summary__top h5,
	.main-cart .total-price h6{
        font-size: 14px;
    }

	.main-cart .item-cart__info span,
	.main-cart .item-cart__price .discount,
	.main-cart .item-cart__price .price-before,
	.main-cart .price-data {
        font-size: 10px;
    }
	
	.main-cart .item-cart__price .actual-price,
	.main-cart .total-price span {
        font-size: 18px ;
    }
	
	.main-cart .qty-number {
        border: none;
		font-size: 10px;
		padding: 0px;
    }

	.main-cart .circle::before {
        width: 15px;
        height: 15px;
        font-size: 6px;
	}

    .main-cart .item-cart__price {
        margin-right: 20px;
    }

	.main-cart .btn-remove {
		padding: 0px 4px;
		font-size: 15px;
	}
	.main-cart .pd-15 {
		padding: 10px;
	}
	.main-cart .gap-20 {
		gap: 10px;
	}

	/* PAYMENT PAGE */

	.main-payment .cart-summary__bottom {
		padding-bottom: 80px;
	}

	.main-payment .headline {
		font-size: 20px !important;
	}

	.main-payment label,
	.main-payment input,
	.main-payment p {
		font-size: 14px;
	}

	.pay-with-paypal a,
	.pay-with-googlepay a,
	.pay-with-card,
	.remember-card label,
	.cart-summary__bottom a {
		font-size: 12px;
		
	}

	.pay-with-paypal img,
	.pay-with-googlepay img{
		width: 50px;
	}

	.main-payment .item-cart__info h6,
	.main-payment .cart-summary__top h5,
	.main-payment .total-price h6{
        font-size: 14px;
    }

	.main-payment .item-cart__info span,
	.main-payment .item-cart__price .discount,
	.main-payment .item-cart__price .price-before,
	.main-payment .price-data {
        font-size: 12px;
    }
	
	.main-payment .item-cart__price .actual-price,
	.main-payment .total-price span {
        font-size: 18px ;
    }

	.pay-paypal-icon,
	.pay-visa-icon,
	.pay-googlepay-icon {
		width: 120px;
	}

	/* CONTACT PAGE */

	.main-contact h1 {
		font-size: 24px !important;
	}
	.main-contact p {
		font-size: 14px !important;
	}

	.main-contact label,
	.main-contact input,
	.main-contact p,
	.main-contact span,
	.main-contact button {
		font-size: 14px;
	}

	/* SUCCESS PAGE */

	.main-success.success {
		padding: 120px 20px;
	}

	.main-success img {
		width: 60px;
	}
	.main-success h3 {
		font-size: 30px;

	}
	.main-success p {
		font-size: 12px;
	}
	.main-success a {
		font-size: 12px;
	}

	

	

}

/*--------------------------------------------------------------*/
/*--------------- Mobile devices - Resoluciones desde 320 hasta 420---------------*/
/*--------------------------------------------------------------*/

@media screen and (max-width: 420px) {

	/* ABOUT US PAGE */

	.logo img {
		max-width: 90px;
	}

	.about-us .pageheader h1 {
		font-size: 20px;
	}
	.about-us .pageheader h3 {
		font-size: 14px;
	}

	.about h3,
	.our-team h3,
	.about-us .values h2 {
		font-size: 20px;
	}

	.about p {
		font-size: 12px;
	}

	.our-team .person h4 {
		font-size: 14px;
	}

	.person p,
	.about-us .values p {
		font-size: 12px;	
	}

	.about-us .value img {
		width: 40px;
	}

	.about-us .value h3 {
		font-size: 16px;
	}

	.values {
		padding-top: 20px !important;
		padding-bottom: 20px !important;
	}

	/* ABOUT US PAGE */

	.logo img {
		max-width: 120px;
		margin-left: 20px;
	}

	.about-us .pageheader h1 {
		font-size: 24px;
	}

	.about-us .pageheader h3 {
		font-size: 16px;
	}

	.about h3,
	.our-team h3,
	.about-us .values h2 {
		font-size: 24px;
	}

	.about p {
		padding: 20px;
		font-size: 14px;
	}

	.our-team .person h4 {
		font-size: 16px;
	}

	.person p {
		font-size: 14px;	
	}

	.about-us .values p {
		font-size: 14px;	
	}

	.about-us .value img {
		width: 40px;
	}

	.about-us .value h3 {
		font-size: 16px;
	}

		/* CART PAGE */

	.main-cart {
		padding: 0px 20px;
	}

	.main-cart .headline {
		font-size: 28px !important;
		
	}

	.main-cart .headline span {
		font-size: 24px;
		
	}

	.main-cart .cart-page {
		grid-template-columns: 1fr;
	}

	.main-cart .coupons {
		display: none;
	}

	.main-cart .cart-summary {
		border: none;
	}


	.main-cart .item-cart__info h6,
	.main-cart .cart-summary__top h5,
	.main-cart .total-price h6{
        font-size: 16px;
    }

	.main-cart .item-cart__info span,
	.main-cart .item-cart__price .discount,
	.main-cart .item-cart__price .price-before,
	.main-cart .price-data {
        font-size: 12px;
    }
	
	.main-cart .item-cart__price .actual-price,
	.main-cart .total-price span {
        font-size: 20px ;
    }
	
	.main-cart .qty-number {
        padding: 4px 15px;
		font-size: 12px;
    }

	.main-cart .circle::before {
        width: 20px;
        height: 20px;
        font-size: 8px;
	}

	.main-cart .item-cart__quantity {
        margin-right: 10px;
    }

    .main-cart .item-cart__price {
        margin-right: 60px;
    }


	/* CART PAGE */

	.main-cart {
		padding-top: 30px !important;
		padding-bottom: 30px !important;
	}

	.main-cart .item-cart-3 {
		margin-bottom: 0px;
	}
	
	.main-cart .item-cart__quantity-res {
		display: flex;
		padding-top: 0px ;
	}

	.main-cart .item-cart__info {
		gap: 0px !important;
	}

	.main-cart .item-cart__image {
		width:40px;
	}

	.main-cart .headline {
		font-size: 20px !important;
		
	}

	.main-cart .headline span {
		font-size: 16px;	
	}

	.main-cart .cart-summary__bottom  {
		padding-top: 40px;
		font-size: 10px;
		max-width: 100%;
	}

	.main-cart .item-cart__info h6,
	.main-cart .cart-summary__top h5,
	.main-cart .total-price h6{
        font-size: 10px;
    }

	.main-cart .item-cart__info span,
	.main-cart .item-cart__price .discount,
	.main-cart .item-cart__price .price-before,
	.main-cart .price-data {
        font-size: 8px;
    }
	
	.main-cart .item-cart__price .actual-price,
	.main-cart .total-price span {
        font-size: 12px ;
    }
	
	.main-cart .qty-number {
        border: none;
		font-size: 8px;
		padding: 0px;
    }

	.main-cart .circle::before {
        width: 10px;
        height: 10px;
        font-size: 6px;
	}

    .main-cart .item-cart__price {
        margin-right: 20px;
    }

	.main-cart .btn-remove {
		padding: 0px 2px;
		font-size: 8px;
	}
	.main-cart .pd-15 {
		padding: 6px;
	}
	.main-cart .gap-20 {
		gap: 8px;
	}

	/* PAYMENT PAGE */

	.main-payment .cart-summary__bottom {
		padding-bottom: 80px;
	}

	.main-payment .headline {
		font-size: 18px !important;
	}

	.main-payment label,
	.main-payment input,
	.main-payment p {
		font-size: 12px;
	}

	.pay-with-paypal a,
	.pay-with-googlepay a,
	.pay-with-card,
	.remember-card label,
	.cart-summary__bottom a {
		font-size: 10px;
	}

	.pay-with-paypal img,
	.pay-with-googlepay img{
		width: 40px;
	}

	.main-payment .item-cart__info h6,
	.main-payment .cart-summary__top h5,
	.main-payment .total-price h6{
        font-size: 12px;
    }

	.main-payment .item-cart__info span,
	.main-payment .item-cart__price .discount,
	.main-payment .item-cart__price .price-before,
	.main-payment .price-data {
        font-size: 10px;
    }
	
	.main-payment .item-cart__price .actual-price,
	.main-payment .total-price span {
        font-size: 16px ;
    }

	.pay-paypal-icon,
	.pay-visa-icon,
	.pay-googlepay-icon {
		width: 100px;
	}

	/* CONTACT PAGE */

	.main-contact h1 {
		font-size: 20px !important;
	}
	.main-contact p {
		margin-top: 20px;
		font-size: 12px !important;
	}

	.main-contact label,
	.main-contact input,
	.main-contact p,
	.main-contact span,
	.main-contact button {
		font-size: 10px;
	}

	/* SUCCESS PAGE */

	.main-success.success {
		padding: 80px 20px;
	}

	.main-success img {
		width: 50px;
	}
	.main-success h3 {
		font-size: 20px;

	}
	.main-success p {
		font-size: 10px;
	}
	.main-success a {
		font-size: 10px;
	}

	


}