@import url("framework.css");

/* ----- VARIABLES ----- */
:root {
    /* COLORS */
    --color-1: #14151B;
    --color-2: #F1F1F1;
    --color-3: #BF0000;
    --color-4: #FF6417;
    --color-5: #353535;
    --color-6: #F29220;
   
    /* TYPOGRAPHY */
    --font-1: 'Montserrat', sans-serif;
    --font-2: 'Source Sans 3', sans-serif;
}

/* ----- DARK MODE ----- */
@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #f0f0f0;
        --color-secondary: #181818;
    }
}

/* ----- MARGINS & PADDINGS ----- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* ----- IMG ----- */
img, picture, video, iframe, figure {
    max-width: 100%;
    width: auto;
    display: block;
}

/* ----- LINKS ----- */
a {
    display: block;
}

p a {
    display: inline;
}

/* ----- LISTS ----- */
li {
    list-style-type: none;
}

/* ----- SCROLL BEHAVIOR ----- */
html {
    scroll-behavior: smooth;
}

/* ----- TEXT STYLES ----- */
body {
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--font-2);
    color: var(--color-2);
    background-color: var(--color-1);
    line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

/* ----- FORMS ----- */
form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

/* ----- TABLES ----- */
table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----- SVG ----- */
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

/* ----- BUTTONS ----- */
.btn {
    border-radius: 2px;
    border: 1px solid rgba(241, 241, 241, 0.20);
    background: rgba(53, 53, 53, 0.50);
    padding: 6px 12px;
    cursor: pointer;
}

.btn-1 {
   text-transform: uppercase;
   background: var(--color-4);
   text-align: center;
   font-weight: 600;
   padding: 8px 0px;
   width: 100%;
}

.btn-1::before {
    content: "\f07a";
    padding-right: 15px;
 }

.btn-2 {
    border: 1px solid rgba(241, 241, 241, 0.20);
    background: rgba(53, 53, 53, 0.20);
    text-align: center;  
    font-weight: 500;
    padding: 8px 0px;
    width: 100%;  
}

.btn-2::before{
    content: "\f004";
    padding-right: 15px;
}


.btn-2-sm {
    border: 1px solid rgba(241, 241, 241, 0.20);
    background: transparent;
    text-align: center;  
    font-weight: 500;
    padding: 8px 20px;
    display: inline-block;
    
}

.btn-sale {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    background: var(--color-3);
    border-radius: 0px 0px 15px 0px; 
    padding: 0.3em 2.5em; 
}

/* ----- SEARCH BAR ----- */
.search-bar {
    width: 100%;
    max-width: 512px;
    border-radius: 2px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: var(--color-2);
    color: rgba(53, 53, 53, 0.60);
    font-size: 16px;
    transition:all 0.2s ease-out;
}

.search-bar input {
    background: transparent;
    font-size: 14px;
    flex: 1;
    border: 0;
    outline: none;
    color: var(--color-1);
}

::placeholder {
    color: rgba(53, 53, 53, 0.60);
}

.search-bar button  {
    background: transparent;
    cursor: pointer;
}

.search-bar:focus-within {
    outline: 2px solid rgba(255, 100, 23, 1);
    outline-offset:2px;
}

/* ICONS */

.playstation:before {
    content: url(../images/playstation-icon.svg); 
}

.xbox:before {
    content: url(../images/xbox-icon.svg);
}

.nintendo:before {
    content: url(../images/nintendo-icon.svg);
}

.windows:before {
    content: url(../images/win-icon.svg);
}

.steam:before {
    content: url(../images/steam-icon.png);
}

.stars {
    color: rgba(255, 203, 69, 1);
    
}

/* HEADER */

header {
    background: var(--color-5);
    border-bottom: 2px solid rgba(241, 241, 241, 0.2);
}

.menu {
    font-weight: 700;
    font-size: 18px;
}
.header-right{
    font-size: 14px; 
}

.header-right ul {
    gap: 20px;
}

.sign-in::after {
   
    content: "\f007";
    padding-left: 10px;
}

.cart::after {
    content: "\f07a";
}

.fav::after {
    content: "\f004";
}

/* MAIN */

/* ----- SLIDER ----- */

    .banner {
        position: relative;
        margin: 0 auto;
    }

    .slider {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        overflow: hidden;
    }

    .slider article {
        flex: 1 0 100%;
        scroll-snap-align: start;
    }
    
    .slider-nav {
        display: flex;
        column-gap: 1.2rem;
        z-index: 1;
    }

    .slider-nav a {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: var(--color-2);
        opacity: 0.5;
        transition: opacity ease 250ms;
    }

    .slider-nav a:hover {
        opacity: 1;
    }

    .slide-img {
    flex:2;
    border-radius: 2px 0px 0px 2px;
    background-position-x: center;
    background-position-y: 10% ;
    background-size: cover;
    cursor: pointer;
    }

    .slide-img-1 {
        background-image: url("../images/slider-img-1.png");
    }

    .slide-img-2 {
        background-image: url("../images/slider-img-2.png");
    }
    .slide-img-3 {
        background-image: url("../images/slider-img-3.png");
    }
    .slide-img-4 {
        background-image: url("../images/slider-img-4.png");
    }
    .slide-img-5 {
        background-image: url("../images/slider-img-5.png");
    }

    .platforms {
        gap: 15px;
    }

    .slide-info {    
    flex:1;
    gap: 60px;
    background: rgba(53, 53, 53, 0.20);
    border-radius: 0px 2px 2px 0px;
    }

    .slide-info__mid {
        gap: 20px;
    }

    .slide-info__buttons {
        gap: 30px;
    }


    .slider div .name {
    font-style: var(--font-1);
    font-size: 32px;
    }

    .slider div .price {
    font-size: 28px;
    }

    .slider div .subprice {
    font-size: 16px;
    color: #F29220;
    }


/* BESTSELLER & NEW RELEASES*/
.headline {
    font-size: 40px;
}

.list-items {
    padding-top: 50px;
    row-gap: 50px;
}


.item-img-container {
    border-radius: 2px;
    overflow: hidden;
}

.item-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;   
}

.item-name {
    font-size: 18px;
    font-weight: 400;
}

.item-price {
    font-size: 24px;
    
}

.item-platforms {
    gap: 15px;
    padding: 8px 8px 0px 8px;
    background: rgba(23, 24, 28, 0.70);
    align-items: flex-start; 
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 2px 0px 8px 0px;
}

.item-discount {
    background: var(--color-3);
    padding: 2px 8px;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 8px 0px 2px 0px;
}

/* FEATURES & SUBSCRIBE */

.fast-img::before {
    content: url("../images/feature-fast.svg");
}

.safe-img:before {
    content: url("../images/feature-safe.svg");
}

.support-img:before {
    content: url("../images/feature-support.svg");
}

.grey-space {
    border-top: 2px solid rgba(241, 241, 241, 0.2);
    border-bottom: 2px solid rgba(241, 241, 241, 0.2);
}

.subs-panel {
    text-align: center;
    gap: 20px;
    
}

.subs-form {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}

.subs-form input {
    width: 70%;
    flex: 1;
}


.subs-form button {
    width: 30%;
}


/* PAYMENT METHODS */

.payment-methods-panel {
    gap: 30px;
}

.pay-visa {
    content: url("../images/pay-visa.svg");
}
.pay-mastercard {
    content: url("../images/pay-mastercard.svg");
}
.pay-maestro {
    content: url("../images/pay-maestro.svg");
}
.pay-bitcoin {
    content: url("../images/pay-bitcoin.svg");
}
.pay-apple {
    content: url("../images/pay-apple.svg");
}
.pay-google {
    content: url("../images/pay-google.svg");
}
.pay-paypal {
    content: url("../images/pay-paypal.svg");
}
.pay-paysafecard {
    content: url("../images/pay-paysafecard.svg");
}
.pay-klarna {
    content: url("../images/pay-klarna.svg");
}
.pay-alipay {
    content: url("../images/pay-alipay.svg");
}


/* FOOTER */ 

footer {
    background: var(--color-5);
    border-top: 2px solid rgba(241, 241, 241, 0.2);
}

footer h4 {
    font-weight: 900;
}

.trust-panel-mid {
    gap: 30px;
    
}

.social-media{
    gap: 30px;
}

.copyright {
    text-align: center;
}

.icon-instagram {
    content: url("../images/icon-instagram.svg");
}
.icon-twitter {
    content: url("../images/icon-twitter.svg");
}
.icon-youtube {
    content: url("../images/icon-youtube.svg");
}
.icon-discord {
    content: url("../images/icon-discord.svg");
}

.icon-appstore {
    content: url("../images/appstore.svg");
}

.icon-googleplay {
    content: url("../images/googleplay.png");
}

.icon-trustpilot {
    content: url("../images/Trustpilot.png");
}









/* ----- VARIABLES ----- */
:root {
    --dark-blue: #14151B;
    --white: rgba(241, 241, 241, 1);
    --white-tran02: rgba(241, 241, 241, 0.2);
    --red: rgba(191, 0, 0, 1);
    --dark-orange: rgba(255, 100, 23, 1);
    --light-orange:rgba(242, 146, 32, 1);
    --grey: rgba(53, 53, 53, 1);
    --grey-tran02: rgba(53, 53, 53, 0.2);
    --grey-tran05: rgba(53, 53, 53, 0.5);
    --grey-tran06: rgba(53, 53, 53, 0.6);
}


body {
    background: var(--dark-blue);
}

header, .grey-space, footer {
    max-width: 100%;
    margin: auto;
    background: var(--grey-tran02);
    display: flex;
    justify-content: space-between;
}

/* General styles*/

::before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-weight: 600;
    text-rendering: auto;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
}


::after {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-weight: 600;
    text-rendering: auto;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
}


/* Header */

/* Main */

/* Footer */


/* REVIEWS SLIDER */

.reviews__slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow: hidden;
}

.reviews__slider article {
    flex: 1 0 100%;
    scroll-snap-align: start;
}

.rev-slider-nav {
    display: flex;
    column-gap: 1.2rem;
    z-index: 1;
}

.rev-slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--color-2);
    opacity: 0.5;
    transition: opacity ease 250ms;
}

.rev-slider-nav a:hover {
    opacity: 1;
}

.reviews__slider-wrapper {
    position: relative;
    max-width: 1340px;
    margin: 0 auto;
    padding-top: 60px;
}

.review-img {  /* <---------------- */
    width: 100%;
    max-width: 560px;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    background-position-x: center;
    background-position-y: 10% ;
    border-radius: 2px 0px 0px 2px;
}

.rev-slide-info {
    flex: 2;
    background: rgba(53, 53, 53, 0.20);
    border-radius: 0px 2px 2px 0px;
}

.rev-slide-info > h3 {
    font-size: 32px;
    font-weight: 400;
}

.text-orange {
    color: var(--color-4);
    text-decoration: underline;
}